<!-- <div class="form-container">
    <p>Reactive Form</p>
    <form [formGroup]="userForm">
        <label for="name">Name :-</label>
        <input type="text" id="name" formControlName="name">
        <div *ngIf="userForm.get('name')?.hasError('required') && userForm.get('name').touched">Name is required</div>
        <label for="email">Email :-</label>
        <input type="email" id="email" formControlName="email">
        <div *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email').touched">Email is required</div>
        <button (click)="onSubmit()">Submit</button>
    </form>
</div>

<p *ngIf="isFormSubmitted">{{ userForm.value.name }}</p>
<p *ngIf="isFormSubmitted">{{ userForm.value.email }}</p> -->